.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.content {
    width: 830px;
    height: 482px;
    padding-bottom: 92px;
    padding-left: 148px;

}

.content__title {
    font-family: "inter";
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    margin: 0px;
    padding-bottom: 40px;
}

.content__quote {
    font-family: "inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    width: 738px;
    margin: 0px;
    padding-bottom: 10px;
}

.content__author {
    font-family: "inter";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    width: 732px;
    margin: 0px;
    padding-bottom: 32px;
}

.content__text {
    font-family: "inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 722px;
    margin: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .content {
        width: 720px;
        height: 490px;
        padding:0 24px 88px 24px;
    }

    .content__title {
        font-size: 45px;
        line-height: 49px;
        padding-right: 13px;
        padding-bottom: 50px;
        width: 707px;
    }

    .content__quote {
        font-size: 24px;
        line-height: 34px;
        width: 720px;
        padding-bottom: 10px;
    }

    .content__author {
        font-size: 24px;
        line-height: 34px;
        text-align: right;
        width: 720px;
        padding-bottom: 32px;
    }

    .content__text {
        font-size: 16px;
        line-height: 26px;
        width: 720px;
    }

}

@media screen and (max-width: 767px) {
    .content {
        width: 288px;
        height: 878px;
        padding:0 16px 64px 16px;

    }

    .content__title {
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 40px;
        width: 100%;
        max-width: 288px;
    }


    .content__quote {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 10px;
        width: 100%;
        max-width: 288px;
    }

    .content__author {
        font-size: 24px;
        line-height: 34px;
        text-align: right;
        padding-bottom: 32px;
        width: 100%;
        max-width: 288px;
    }

    .content__text {
        font-size: 16px;
        line-height: 26px;
        width: 100%;
        max-width: 288px;
    }

}