.nested-grid {
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
   "title div"
   "image text"
   "button text";
   justify-items: start;
   column-gap: 40px;
   row-gap: 48px;
   align-items: start;
}

.nested-grid__title {
  grid-area: title; /* Ocupa coluna 1, linhas 1 */
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color:white;
  margin: 0px;
}

.nested-grid__div {
  grid-area: div; /* Coluna 2, linha 1 */
  display: flex;
  flex-direction: column;
  align-self: end;
  margin: 0px;
}

.nested-grid__article {
  grid-area: text; /* Coluna 2, linhas 2 e 3 */
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 0;
}

.nested-grid__artist {
  font-family:"Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.12em;
  color: #aaa;
  margin: 0px;
  padding-bottom: 8px;
}

.nested-grid__author {
  font-family:"Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0px;
}

.nested-grid__image {
  grid-area: image; /* Coluna 1, linha 2 */
  margin: 0px;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.nested-grid__text {
  font-family:"Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 169%;
  color: white;
  margin: 0px;
}


.nested-grid__button {
  grid-area: button; /* Coluna 1, linha 3 */
  margin: 0px;
  justify-self: start;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  padding: 13px 20px;
  border-radius: 4px;
  background: linear-gradient(to right, #0278FE 0%, #003A7B 100%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .nested-grid {
    max-width: 720px;
    column-gap: 40px;
    row-gap: 48px;
    align-items: start;
    margin: 0 auto;
  }

  .nested-grid__title {
    font-size: 42px;
    line-height: 46px;
  }

  .nested-grid__text {
    font-size: 16px;
  }

  .nested-grid__button {
    font-size: 16px;
  }

}

@media screen and (max-width: 767px) {
  .nested-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "title"
    "div"
    "image"
    "text"
    "text"
    "button";
    max-width: 320px;
    row-gap: 48px;
    align-items: start;
    margin: 0 auto;
  }

  .nested-grid__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  }

  .nested-grid__div {
    margin: 0 16px;
  }

  .nested-grid__text {
    margin: 0 16px;
  }

  .nested-grid__button {
    font-size: 14px;
    margin: 0 16px;
  }

}