
.section {
  width: 830px;
  height: 482px;
  padding-bottom: 92px;
  padding-left: calc((148 / 1280) * 100vw);
}

.section__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin: 0px;
  padding-bottom: 40px;
}

.section__quote {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  width: 738px;
  margin: 0px;
  padding-bottom: 10px;
}

.section__author {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  width: 732px;
  margin: 0px;
  padding-bottom: 32px;
}

.section__text {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 722px;
  margin: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section {
      width: 720px;
      height: 490px;
      padding:0 24px 88px 24px;
      margin: 0 auto;
  }

  .section__title {
      font-size: 45px;
      line-height: 49px;
      padding-right: 13px;
      padding-bottom: 50px;
      width: 707px;
  }

  .section__quote {
      font-size: 24px;
      line-height: 34px;
      width: 720px;
      padding-bottom: 10px;
  }

  .section__author {
      font-size: 24px;
      line-height: 34px;
      text-align: right;
      width: 720px;
      padding-bottom: 32px;
  }

  .section__text {
      font-size: 16px;
      line-height: 26px;
      width: 720px;
  }

}

@media screen and (max-width: 767px) {
  .section {
      width: 288px;
      height: 878px;
      padding: 0 16px 64px 16px;
      margin: 0 auto;

  }

  .section__title {
      font-size: 32px;
      line-height: 35px;
      padding-bottom: 40px;
      width: 100%;
      max-width: 288px;
  }


  .section__quote {
      font-size: 24px;
      line-height: 30px;
      padding-bottom: 10px;
      width: 100%;
      max-width: 288px;
  }

  .section__author {
      font-size: 24px;
      line-height: 34px;
      text-align: right;
      padding-bottom: 32px;
      width: 100%;
      max-width: 288px;
  }

  .section__text {
      font-size: 16px;
      line-height: 26px;
      width: 100%;
      max-width: 288px;
  }

}